Dictionaries

In [ ]:
#Below are the two lists convert it into the dictionary
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

In [ ]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

new_dict=dict(zip(keys, values))
print(new_dict)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [ ]:
type(new_dict)

dict

In [ ]:
#Merge following two Python dictionaries into one
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [ ]:
dict3={**dict1, **dict2} #** are used to concatinate two dictionaries into one
print(dict3)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [ ]:
#Access the value of key ‘history’
sampleDict = { 
   "class":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "physics":70,
            "history":80
         }
      }
   }
}

In [ ]:
print(sampleDict['class']['student']['marks']['physics'])

70

In [ ]:
#Initialize dictionary with default values
employees = ['Kelly', 'Emma', 'John']
defaults = {"designation": 'Application Developer', "salary": 8000}

In [ ]:
answer=dict.fromkeys(employees, defaults)
print(answer)

{'Kelly': {'designation': 'Application Developer', 'salary': 8000}, 'Emma': {'designation': 'Application Developer', 'salary': 8000}, 'John': {'designation': 'Application Developer', 'salary': 8000}}

In [ ]:
#Create a new dictionary by extracting the following keys from a given dictionary
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
  
}
#Keys to extract

keys = ["name", "salary"]

In [ ]:
new_dict={keys:sampleDict[keys] for keys in keys}
print(new_dict)

{'name': 'Kelly', 'salary': 8000}

Discussion

In [ ]:
list1=['name','age','salary','city']
list2=['Kelly',25, 8000,'New York']
new_dict=dict(zip(list1, list2))
print(new_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'city': 'New York'}

In [ ]:
#Delete set of keys from Python Dictionary
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
  
}
keysToRemove = ["name", "salary"]

In [ ]:
sampleDict={a:sampleDict[a] for a in sampleDict.keys() - keysToRemove}
print(sampleDict)
#keysToRemove is keyword which helps in removing the keys

{'age': 25, 'city': 'New york'}

In [ ]:
#Check if a value 200 exists in a dictionary
sampleDict = {'a': 100, 'b': 200, 'c': 300}

In [ ]:
sampleDict.values()

dict_values([100, 200, 300])

In [ ]:
sampleDict.keys()

dict_keys(['a', 'b', 'c'])

In [ ]:
print(300 in sampleDict.values())

True

In [ ]:
#Rename key city to location in the following dictionary
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}

In [ ]:
sampleDict['location']=sampleDict.pop('city')
print(sampleDict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

In [ ]:
#Get the key corresponding to the minimum value from the following dictionary
sampleDict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}

In [ ]:
list=[34,56,78,22,89,90,12,11,74,]
min(list)
max(list)

90

In [ ]:
print(min(sampleDict, key=sampleDict.get))

Math

In [ ]:
#Given a Python dictionary, Change Brad’s salary to 8500
sampleDict = {
     'emp1': {'name': 'Jhon', 'salary': 7500},
     'emp2': {'name': 'Emma', 'salary': 8000},
     'emp3': {'name': 'Brad', 'salary': 6500}
}

In [ ]:
sampleDict['emp3']['salary']=8500
print(sampleDict)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

Sets

In [ ]:
# Add a list of elements to a given set
sampleSet = {"Yellow", "Orange", "Black"}
sampleList = ["Blue", "Green", "Red"]

#In set item order is not a concern

#Expected output: {'Green', 'Yellow', 'Black', 'Orange', 'Red', 'Blue'}

In [ ]:
sampleSet.update(sampleList)
print(sampleSet)

{'Green', 'Red', 'Black', 'Orange', 'Blue', 'Yellow'}

In [ ]:
#Return a set of identical items from a given two Python set
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

In [ ]:
print(set1.intersection(set2))#same values

{40, 50, 30}

In [ ]:
#Returns a new set with all items from both sets by removing duplicates
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

In [ ]:
set3=set1.union(set2)

In [ ]:
print(set3)

{70, 40, 10, 50, 20, 60, 30}

In [ ]:
#unique values will be displayed
print(set1.union(set2))
print(set1.intersection(set2))

{70, 40, 10, 50, 20, 60, 30}
{40, 50, 30}

In [ ]:
#Given two Python sets, update first set with items that exist only in the first set and not in the second set.
set1 = {10, 20, 30, 50, 100}
set2 = {20, 40, 50}

In [ ]:
set1.difference_update(set2)
print(set1)

{100, 10, 30}

In [ ]:
#Remove 10, 20, 30 elements from a following set at once

set1 = {10, 20, 30, 40, 50}

In [ ]:
set1.difference_update({10, 20, 30})
print(set1)

{40, 50}

In [ ]:
#Return a set of all elements in either A or B, but not both

set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

In [ ]:
print(set1.symmetric_difference(set2))

{20}

In [ ]:
#Determine whether or not the following two sets have any elements in common. If yes display the common elements

set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 80, 90, 10}

In [ ]:
if set1.isdisjoint(set2):
  print("two sets have no elements in common")

else:
  print("two sets have items in common")
  print(set1.intersection(set2))

two sets have items in common
{10}

In [ ]:
#Update set1 by adding items from set2, except common items

set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

In [ ]:
set1.symmetric_difference_update(set2)

In [ ]:
print(set1)

{70, 10, 20, 60}

In [ ]:
#Remove items from set1 that are not common to both set1 and set2

set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

In [ ]:
set1.intersection_update(set2)
print(set1)

{40, 50, 30}

Tuples

In [ ]:
#Reverse the following tuple

aTuple = (10, 20, 30, 40, 50)

In [ ]:
#slicing
aTuple=aTuple[::-1]

In [ ]:
print(aTuple)

(50, 40, 30, 20, 10)

In [ ]:
#Access value 20 from the following tuple

aTuple = ("Orange", [10, 20, 30], (5, 15, 25))

In [ ]:
print(aTuple[1][1])

20

In [ ]:
#fetch 25
print(aTuple[2][2])

25

In [ ]:
#Create a tuple with single item 50
tup=(50,)#comma has to be there with single element

In [ ]:
type(tup)

tuple

In [ ]:
#Unpack the following tuple into 4 variables

aTuple = (10, 20, 30, 40)

#Expected output:

aTuple = (10, 20, 30, 40)
# Your code
#print(a) # should print 10
#print(b) # should print 20
#print(c) # should print 30
#print(d) # should print 40

In [ ]:
a,b,c,d=aTuple

In [ ]:
print(a)

10

In [ ]:
print(b)

20

In [ ]:
print(c)

30

In [ ]:
print(d)

40

In [ ]:
#Swap the following two tuples

tuple1 = (11, 22)
tuple2 = (99, 88)

In [ ]:
tuple1, tuple2=tuple2, tuple1

In [ ]:
print(tuple1)

(99, 88)

In [ ]:
print(tuple2)

(11, 22)

In [ ]:
#Copy element 44 and 55 from the following tuple into a new tuple

tuple1 = (11, 22, 33, 44, 55, 66)

In [ ]:
new_tup=tuple1[3:5]

In [ ]:
print(new_tup)

(44, 55)

In [ ]:
#Modify the first item (22) of a list inside a following tuple to 222

tuple1 = (11, [22, 33], 44, 55)

In [ ]:
tuple1[1][0]=222

In [ ]:
tuple1

(11, [222, 33], 44, 55)

In [ ]:
#Sort a tuple of tuples by 2nd item

tuple1 = (('a', 23),('b', 37),('c', 11), ('d',29))

#Expected output:

#(('c', 11), ('a', 23), ('d', 29), ('b', 37))

NOTED

In [ ]:
tuple1=tuple(sorted(list(tuple1), key=lambda x:x[1]))
print(tuple1)

(('c', 11), ('a', 23), ('d', 29), ('b', 37))

In [ ]:
#Counts the number of occurrences of item 50 from a tuple

tuple1 = (50, 10, 60, 70, 50)

In [ ]:
print(tuple1.count(50))

2

In [ ]:
#Check if all items in the following tuple are the same

tuple1 = (45, 45, 45, 45)

#Expected output: True

In [ ]:
def check(sampleTuple):
  return all(i==samppleTuple[0] for i in sampleTuple)

tuple1=(45,45,45,45)
print(check(tuple1))