<a href="https://colab.research.google.com/github/charlie-aashutosh/python_codes/blob/master/Loops_Practice_Set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Practice Set on Loops

In [ ]:
#accept user input for a number and calculate the sum of numbers between 1 and that user input
sum1=0
n=int(input("enter the value"))

for i in range(1, n+1, 1):
  sum1+=i
print("\n")
print("Sum is: ", sum1)

enter the value10


Sum is:  55

In [ ]:
#Print the multiplication table of any number given by the user
n=int(input("Enter your value"))
for a in range(1, 11, 1):
  prod=n*a
  print(prod)

Enter your value13
13
26
39
52
65
78
91
104
117
130

We have a list and inside that list we are supposed to display all the elements which can be divided by 5

In [ ]:
list1=[23,55,90,35,78,120,470,45,95,112,83,27]

for value in list1:
  if (value%5==0):
    print(value)

55
90
35
120
470
45
95

In [ ]:
#List reversal using Loops
list2=[23,54,89,36,43,12,89,34]
start=len(list2)-1
stop=-1
step=-1
for i in range(start, stop, step):
  print(list2[i])

34
89
12
43
36
89
54
23

In [ ]:
#Display -10 to -1 using for loop
for i in range(-10, 0, 1):
  print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [ ]:
list=[12,23,45,67,86,87,544,643,67,34]
for i in list:
  print(list[::-1]) #indexing technique
  break

[34, 67, 643, 544, 87, 86, 67, 45, 23, 12]

In [ ]:
#Write a program to display all the prime numbers in a range
start=25
stop=120
print("Prime numbers between", start, "and", stop, "are:")

for num in range(start, stop+1):
  if num>1:
    for i in range(2, num):#Prime number starts from 2
      if (num%i==0):
        break
    else:
      print(num)

Prime numbers between 25 and 120 are:
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113

In [ ]:
#Fibonacci Series
#0,1,1,2,3,5,8,13,21,34.....
terms=20
#first two numbers
num1,num2=0,1
count=0

print("Fibonacci Sequence: ")
while count<terms:
  print(num1, end=" ")
  temp=num1+num2
  #update
  num1=num2
  num2=temp
  count+=1

Fibonacci Sequence:
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181

In [1]:
#Printing pattern examples
#*
#**
#***
#****
#***
#**
#*
rows = 5
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("\r")

for i in range(rows, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [3]:
#Print the following pattern using for loop

#5 4 3 2 1 
#4 3 2 1 
#3 2 1 
#2 1 
#1

n = 5
k = 5
for i in range(0,n+1):
    for j in range(k-i,0,-1):
        print(j,end=' ')
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [4]:
#Print the following pattern

#1 
#1 2 
#1 2 3 
#1 2 3 4 
#1 2 3 4 5

print("Number Pattern ")
lastNumber = 6
for row in range(1, lastNumber):
    for column in range(1, row + 1):
        print(column, end=' ')
    print("")

Number Pattern
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [7]:
#Write a loop to find the factorial of any number
num = int(input("Enter number whose factorial is needed"))
factorial = 1
if num < 0:
    print("Factorial does not exist for negative numbers")
elif num == 0:
    print("The factorial of 0 is 1")
else:
    for i in range(1, num + 1):
        factorial = factorial * i
    print("The factorial of", num, "is", factorial)

Enter number whose factorial is needed12
The factorial of 12 is 479001600

In [8]:
#Reverse a given integer number
num = int(input('Enter number whose reverse you need to calculate'))
reverse_number = 0
print("Given Number ", num)
while num > 0:
    reminder = num % 10
    reverse_number = (reverse_number * 10) + reminder
    num = num // 10
print("Revered Number ", reverse_number)

Enter number whose reverse you need to calculate12345
Given Number  12345
Revered Number  54321

In [9]:
#Use a loop to display elements from a given list which are present at even positions
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
for i in my_list[1::2]:
    print(i, end=" ")

20 40 60 80 100

In [12]:
#Display the cube of the number up to a given integer
input_number = 12
for i in range(1, input_number + 1):
  print("Current Number is :", i, " and the cube is", (i * i * i))

Current Number is : 1  and the cube is 1
Current Number is : 2  and the cube is 8
Current Number is : 3  and the cube is 27
Current Number is : 4  and the cube is 64
Current Number is : 5  and the cube is 125
Current Number is : 6  and the cube is 216
Current Number is : 7  and the cube is 343
Current Number is : 8  and the cube is 512
Current Number is : 9  and the cube is 729
Current Number is : 10  and the cube is 1000
Current Number is : 11  and the cube is 1331
Current Number is : 12  and the cube is 1728

In [13]:
#Find the sum of the series 2 +22 + 222 + 2222 + .. n terms
number_of_terms = 5
start = 2
sum = 0
for i in range(0, number_of_terms):
    print(start, end=" ")
    sum += start
    start = (start * 10) + 2
print("\nSum of above series is:", sum)

2 22 222 2222 22222
Sum of above series is: 24690