<a href="https://colab.research.google.com/github/charlie-aashutosh/python_codes/blob/master/Polymorphism.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Duck Typing
#Operator Overloading
#Method Overloading
#Method Overriding

In [ ]:
#Duck Typing
class Pycharm:

  def execute(self):
    print('Compiling')
    print('Running')

class Laptop:

  def code(self,idle):
    idle.execute() #Polymorphed

idle=Pycharm()

lap1=Laptop()
lap1.code(idle)

Compiling
Running

In [ ]:
class Bird:
  def fly(self):
    print('Fly with wings')

class aeroplane:
  def fly(self):
    print('fly with fuel')

class dog:
  def run(self):
    print('runs with legs')

#attributes having same name are considered as duck typing

for obj in Bird(), aeroplane(), dog():
  obj.fly()

Fly with wings
fly with fuel

AttributeError: ignored

In [ ]:
#Operator overloading

a=5 #int type
b='World' #str type

print(a+b) #same datatype should be there

TypeError: ignored

In [ ]:
a='12'
b='Sunday'

In [ ]:
print(str.__add__(a,b))

12Sunday

Magic Method:
__add__()
__sub__()
and so on...

In [ ]:
c=12
d=15

print(int.__add__(c,d))

27

In [ ]:
#Operation overloading

In [ ]:
class Square:
  side=4

  def cal_area_sq(self):
    return self.side*self.side

class Triangle:
  base=5
  height=4

  def cal_area_tri(self):
    return 0.5*self.base*self.height

sq=Square()
tri=Triangle()

In [ ]:
print('area of square ', sq.cal_area_sq())
print('area of triangle ', tri.cal_area_tri())

area of square  16
area of triangle  10.0

In [ ]:
class Square:
  side=4

  def cal_area(self):
    return self.side*self.side

class Triangle:
  base=5
  height=4

  def cal_area(self):
    return 0.5*self.base*self.height

sq=Square()
tri=Triangle()

In [ ]:
print('area of square ', sq.cal_area())
print('area of triangle ', tri.cal_area())

area of square  16
area of triangle  10.0

In [ ]:
sq=Square()
tri=Triangle()

for obj in sq, tri:
  obj.cal_area()

In [ ]:
print(obj.cal_area())

10.0

In [ ]:
#Inheritance and Polymorphism

class Animal:
  def type(self):
    print('Various types of animals')

  def age(self):
    print('age of animal')

class Cat(Animal):
  def age(self):
    print('age of cat')

class Dog(Animal):
  def age(self):
    print('age of dog')

obj_animal=Animal()

obj_cat=Cat()

obj_dog=Dog()



obj_animal.type()

obj_animal.age()

obj_cat.type()
obj_cat.age()

obj_dog.type()
obj_dog.age()

Various types of animals
age of animal
Various types of animals
age of cat
Various types of animals
age of dog